In [1]:
#I've written a quick script to help you preprocess genre and save it into a new column called preprocessed_genre.
import os
import sys
from pathlib import Path

main_dir_name = 'Week'
unwanted_subdir_name = 'exercises'

for _ in range(5):
    parent_path = str(Path.cwd().parents[_]).split('/')[-1]
    if (main_dir_name in str(Path.cwd()).split('/')[-1]) and (
        unwanted_subdir_name not in str(Path.cwd()).split('/')[-1]
    ):
        weeks_dir = str(Path.cwd())

    elif (main_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):
        weeks_dir = str(Path.cwd().parents[_])

main_dir = str(Path(weeks_dir).parents[0])
sys.path.append(main_dir)

from setup.settings import *

Gensim version: 4.1.2

In [2]:
#I changed this
import pandas as pd
df = pd.read_csv('/Users/nyxinsane/Library/CloudStorage/OneDrive-UvA/Teaching/CCS-2/CCS-2 Tutorial Material/Week 3/exercises/Google Books Dataset/google_books_1299.csv',
header=0, delimiter=',')

In [3]:
df.head()

   Unnamed: 0                       title                            author      rating voters   price currency                    description                              publisher            page_count                      generes                            ISBN      language published_date
0       0                            Attack on Titan: Volume 13  Hajime Isayama  4.600    428   43.280    SAR    NO SAFE PLACE LEFT At great cost to the Garris...              Kodansha Comics      192                                                  none  9781612626864  English  Jul 31, 2014
1       1      Antiques Roadkill: A Trash 'n' Treasures Mystery   Barbara Allan  3.300     23   26.150    SAR    Determined to make a new start in her quaint h...  Kensington Publishing Corp.      288     Fiction , Mystery &amp, Detective , Cozy , Gen...  9780758272799  English   Jul 1, 2007
2       2                        The Art of Super Mario Odyssey        Nintendo  3.900      9  133.850    SAR    Take a globetrotting journey all over the worl...            Dark Horse Comics      368       Games &amp, Activities , Video &amp, Electronic  9781506713816  English   Nov 5, 2019
3       3        Getting Away Is Deadly: An Ellie Avery Mystery     Sara Rosett  4.000     10   26.150    SAR    With swollen feet and swelling belly, pregnant...  Kensington Publishing Corp.      320                                                  none  9781617734076  English   Mar 1, 2009
4       4             The Painted Man (The Demon Cycle, Book 1)  Peter V. Brett  4.500    577   28.540    SAR    The stunning debut fantasy novel from author P...             HarperCollins UK      544                      Fiction , Fantasy , Dark Fantasy  9780007287758  English   Jan 8, 2009

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299 entries, 0 to 1298
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1299 non-null   int64
 1   title           1299 non-null   object
 2   author          1299 non-null   object
 3   rating          1224 non-null   float64
 4   voters          1224 non-null   object
 5   price           1299 non-null   float64
 6   currency        1299 non-null   object
 7   description     1296 non-null   object
 8   publisher       1299 non-null   object
 9   page_count      1299 non-null   int64
 10  generes         1299 non-null   object
 11  ISBN            1299 non-null   object
 12  language        1299 non-null   object
 13  published_date  1299 non-null   object
dtypes: float64(2), int64(2), object(10)
memory usage: 142.2+ KB

In [5]:
# Here we drop the Unnamed column
df.drop('Unnamed: 0', axis=1, inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299 entries, 0 to 1298
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           1299 non-null   object
 1   author          1299 non-null   object
 2   rating          1224 non-null   float64
 3   voters          1224 non-null   object
 4   price           1299 non-null   float64
 5   currency        1299 non-null   object
 6   description     1296 non-null   object
 7   publisher       1299 non-null   object
 8   page_count      1299 non-null   int64
 9   generes         1299 non-null   object
 10  ISBN            1299 non-null   object
 11  language        1299 non-null   object
 12  published_date  1299 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 132.1+ KB

In [7]:
df.isna().sum()

title              0
author             0
rating            75
voters            75
price              0
currency           0
description        3
publisher          0
page_count         0
generes            0
ISBN               0
language           0
published_date     0
dtype: int64

In [9]:
df['generes'].head()

0                                                 none
1    Fiction , Mystery &amp, Detective , Cozy , Gen...
2      Games &amp, Activities , Video &amp, Electronic
3                                                 none
4                     Fiction , Fantasy , Dark Fantasy
Name: generes, dtype: object

In [11]:
import string
punct = list(string.punctuation)

from gensim.utils import simple_preprocess

from nltk.corpus import stopwords
stop_words = stopwords.words('english')
stop_words.extend(['amp', 'none'])
print(stop_words[-2:])

from nltk.tokenize import TreebankWordTokenizer

['amp', 'none']

In [12]:
# Here we use simple preprocessing function from gensim
df['preprocessed_genre'] = df['generes'].apply(
    lambda genre: simple_preprocess(genre.replace('&', '').replace('amp', '').replace(',', '').replace('none', ''), min_len=1) if type(genre) is str else '')
df['preprocessed_genre'].isna().sum()

0

In [13]:
df = df[df['preprocessed_genre'].map(len) > 1]

In [17]:
df['preprocessed_genre'].head()

1    [fiction, mystery, detective, cozy, general]
2          [games, activities, video, electronic]
4               [fiction, fantasy, dark, fantasy]
6                       [fiction, media, tie, in]
7                        [fiction, fantasy, epic]
Name: preprocessed_genre, dtype: object

In [15]:
# df['generes'].apply(lambda x: x.replace(',', '').replace('&amp', '').replace('none', ''))
# df['generes'].isna().sum()

In [16]:
# def clean_up_genres(x):
#     x = x.replace(',', '').replace('&amp', '').replace('none', '')
#     return x

# df['genres'] = df['generes'].apply(clean_up_genres)
# df['genres']